{% load static %}

<!--
<h3> my resume profile </h3>
   <img src="{% static 'images/mypicture2.jpg' %}" alt="">
-->
<html>
<head>
   <title> Emmanuel Idehen   </title>
   <link rel="stylesheet" href="{% static '/css/main.css' %}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
   <br>

   <div class="container">
      <div class="row">
         <div class="col-md-3">
            <div class="card card-body" id="profile-wrapper">
               <img src="{% static 'images/mypicture2.jpg' %}" alt="">
               <h3>Hi My name is Emmanuel</h3>
               <p>I love coding, doing research and collaborting</p>
            </div>
         </div>
      
         <div class="col-md-9">
            <div class="card card-body">
               <h4>My First Job as a Developer</h4>

<p>After 3 months of writing my Hello World program on September 12th 2017. I had convinced myself that I was ready to work in the development team of the company which would give me more knowledge and experience in the field.</p>

<p>  Before I knew it we was transferred to Software support team managing enterprise software applications for client and developing needed hotfixes</p>


       <ul class="social-links">
         <li><img class="social" src="{% static 'images/linkdin.png' %}"></li>
          <li><img class="social" src="{% static 'images/github.png' %}"></li>

       
       </ul>
            </div>
         </div>  
      </div>

      <br>
      <div class="row">
         <div class="col-md-6">
            <div class="card card-body">
               <h5>My Experience as a Developer</h5>
               <p> Full stack developer at Micro-Focus
               </p>
               <p>Develop and implement applications program and also support 
               thousands of customer in resoving applications issues</p>
            </div>
         </div>
      
         <div class="col-md-6">
            <div class="card card-body">
               <h5>What I Know</h5>
               <p>Pyton, Django, HTML/CSS, Javascript/Jquery, React, Postgres, AWS and APIs such as google maps, Javascript charts and a whole bunch more</p>
               <p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>

            </div>
         </div>  
      </div>

      <br>
      <div class="row">
         <div class="col-md-6">
            <div class="card card-body">
               <h5>How I Learn</h5>
               <p>Reverse Engineer & Build Ugly Prototypes First</p>

            </div>
         </div>
      
         <div class="col-md-6">
            <div class="card card-body">
               <h5>My Short Term Goals</h5>
               <hr>
               <p>After almost four years of supporting </p>
            </div>
         </div>  
      </div>


      
    </div>
        
   

</body>
</html>


